<p>Thank you for your adoption application; we will be reviewing it shortly
    (applications are reviewed Sunday through Thursday), and will contact you with any additional questions.
    In the meantime, please provide any required supplemental information by responding to this message, or emailing us
    at <a href="mailto:adopt@forgetmenotshelter.org">adopt@forgetmenotshelter.org</a> - this will help speed up your
    application processing time.

<p><strong>If your home is not registered under your ownership with your county assessor,</strong>
    we need landlord permission for you to adopt. This can be written permission, a copy of the pet
    clause of your lease, or you can provide the landlord's name and phone number for us to contact directly
    (this includes homes owned by relatives - they always say YES, but we do need confirmation of that for our records).

<p>If you do not hear back from us within 72 hours, something may have gone wrong with the application submission; please contact us with the application ID: 5GDLMB0DVKPSUFWB2PS

<p>Thanks so much for caring about shelter pets!

<p>
Kim Gillen, Adoption Coordinator<br>
Forget Me Not Animal Shelter<br>
509-775-2308 (shelter)<br>
208-410-8200 (fax)<br>
<a href="https://forgetmenotshelter.org/">https://forgetmenotshelter.org</a><br>
like us on Facebook: <a href="http://www.facebook.com/ForgetMeNotAnimalShelter">http://www.facebook.com/ForgetMeNotAnimalShelter</a>
