# Rendered templates
/*
!*/
!*.*
!.*
*.html
*.rendered
!404.html
robots.txt

# old things I still have around on my machine
Application/
blog/
assets/
donate/

# Sass ignores
.sass-cache/
*.css
*.css.map
*.sass.map
*.scss.map

# Typescript ignores
*.js
*.js.map
