# Rendered templates
*
!*/
!*.*
!.*
*.html
*.rendered
!404.html
robots.txt

# old things
Application/
blog/

# Sass ignores
.sass-cache/
*.css
*.css.map
*.sass.map
*.scss.map

# Typescript ignores
*.js
*.js.map
