/* Kuranda beds */
.kuranda p {
    color: #f00;
    background-color: #ff6;
    font-size: 28pt;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    padding: 0.25in;
}

.kuranda img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Listings table */
table.listings {
    width: 100%;
    display: block;
    --border-color: #ccc;
    --pending-color: #ddd;
    --info-color: var(--link-color);
}

table.listings tbody {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media print {
    table.listings tbody {
        display: block;
    }
}

/* Listings table - individual listings */
table.listings tbody tr {
    float: left;
    max-width: 50vw;
    min-width: calc(200px + 8em);
    padding: 1em;
    box-sizing: border-box;
}

table.listings tbody tr > *:first-child {
    border-top: 1px solid var(--border-color);
    border-radius: 1em 1em 0 0;
    padding-top: 0.5em;
}

table.listings tbody tr > *:last-child {
    border-bottom: 1px solid var(--border-color);
    border-radius: 0 0 1em 1em;
    padding-bottom: 0.5em;
}

table.listings tbody tr > * {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

table.listings tbody td, table.listings tbody th {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

table.listings tbody td.img {
    padding-left: 2em;
    padding-right: 2em;
    /* Ensures 2em margin either side of image but only 1em either side of name */
}


/* Listings table - individual data */
th.name {
    font-size: 18pt;
    display: inline;
}

table.listings img {
    display: block;
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

table.listings td, th {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

table.listings thead {
    display: none;
}

td.fee {
    color: red;
}

td.inquiry > a {
    font-size: 10pt;
    text-decoration: none;
}

/* Listings table - applications pending & closed */

table.listings tr {
    order: 1;
}

table.listings tr.soon {
    /* put in middle */
    order: 2;
}

table.listings tr a:hover {
    text-decoration: none;
}

table.listings td.inquiry > a:hover {
    text-decoration: underline;
}

table.listings tr:not(.soon) th.name a {
    border-bottom: 1pt solid var(--link-color);
}

table.listings tr:not(.soon) th.name a:visited {
    border-bottom: 1pt solid var(--visited-color);
}

table.listings tr:not(.soon) th.name a:active {
    border-bottom: 1pt solid var(--active-color);
}

table.listings tr:not(.soon) th.name a:hover {
    border-bottom-width: 1.5pt;
}

tr * {
    background-color: var(--background-color);
}

tr.soon > td.fee > *::before {
    content: "Coming Soon";
}

tr.soon > td.fee > span {
    display: none;
}

th.name > *:not([id=""])::after {
    content: " (id#" attr(id) ")";
    font-size: 11pt;
    vertical-align: 10%;
}

td.fee::before {
    white-space: pre-line;
}