/*
 * Copyright 2022 Google LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

h2 {
	font: var(--heading-font);
	font-size: 20pt;
	color: var(--accent-color);
	text-align: center;
}

table.listings {
	/* These need to be CSS variables for use by adoptable.generated.css */
	--border-color: #ccc;
	--adoptable-color: var(--background-color-2);
	--pending-color: #ddd;
	--info-color: var(--link-color);

	width: 100%;
	display: block;

	&.last-row tbody {
		grid-template-columns: repeat(auto-fit, minmax(0, 300px));
		margin-top: 0;
	}

	tbody {
		display: grid;
		$gap: 1.2rem;
		grid-column-gap: $gap;
		grid-row-gap: $gap;
		margin: 1em 2vw;
		grid-auto-flow: row dense;
		grid-template-columns: minmax(0, 300px) repeat(auto-fill, minmax(0, 300px));
		justify-content: center;

		@media print {
			display: block;
		}

		/* Each listing */
		tr {
			display: block;
			width: 100%;
			box-sizing: border-box;
			--listing-background: var(--adoptable-color);
			white-space: nowrap;
			$line-height: 1.1em;

			&.pair {
				grid-column-end: span 2;

				a {
					width: 100%;
					// TODO [#285]: Reduce width of a in bonded pairs to reduce underline width.
				}

				ul {
					position: relative;
					display: inline-block;
					padding: 0;
					margin: 0;
					width: 100%;
					list-style-type: none;

					li {
						width: 50%;
						display: inline-block;
						box-sizing: border-box;

						&:not(td.img li) {
							$ampersand-width: 1.1em;
							--inner-padding: calc(#{$ampersand-width} / 2 + 0.1em);

							&:first-of-type {
								padding-right: var(--inner-padding);
								text-align: right;
							}

							&:nth-of-type(2) {
								padding-left: var(--inner-padding);
								text-align: left;

								&:not(a:not([href]) li) {
									padding-right: 1.5em;
								}

								&::before {
									display: block;
									position: absolute;
									top: 0;
									left: calc(50% - #{$ampersand-width} / 2);
									width: $ampersand-width;
									height: $line-height;
									text-align: center;
									content: '&';
								}
							}
						}
					}
				}

				td.img img:not(ul img) {
					max-width: calc(400px + #{$gap});
					max-height: 300px;
				}
			}

			a:hover {
				text-decoration: none;
			}

			/* Applications pending & closed */
			order: 1;

			&.st_1.soon {
				/* put in middle */
				order: 2;

				/* Hide the actual adoption fee for coming soon listings */
				> td.fee > {
					*::before {
						content: 'Coming Soon';
					}

					span {
						display: none;
					}
				}
			}

			/* Note: adoptable.generated.css adds order: 3 for pending & closed */

			// Cells moved to the last-row table.
			&.yote {
				display: none;
			}
		}
	}

	/* thead is only present for a11y */
	thead {
		display: none;
	}


	/* Individual data */
	td, th {
		--x-scale: 1;
		--y-scale: 1;
		--border-width: 1px;
		--vertical-border-width: calc(1px / var(--x-scale));
		--x-border-radius: calc(1rem / var(--x-scale));
		display: block;
		padding-left: 1em;
		padding-right: 1em;
		box-sizing: border-box;
		width: calc(100% / var(--x-scale));
		text-align: center;
		vertical-align: middle;
		border-left: var(--vertical-border-width) solid var(--border-color);
		border-right: var(--vertical-border-width) solid var(--border-color);
		min-height: 1.4em;
		background-color: var(--listing-background);
		transform: scaleX(var(--x-scale));
		transform-origin: left;


		&:first-child {
			border-top: var(--border-width) solid var(--border-color);
			border-radius: var(--x-border-radius) var(--x-border-radius) 0 0 / 1rem 1rem 0 0;
			padding-top: 0.5em;
		}

		&:last-child {
			border-bottom: var(--border-width) solid var(--border-color);
			padding-bottom: 0.5em;
			border-radius: 0 0 var(--x-border-radius) var(--x-border-radius) / 0 0 1rem 1rem;
		}

		> * {
			display: inline-block;
			transform: scaleY(var(--y-scale));
		}
	}

	th.name {
		font-size: 18pt;

		@media (min-width: 450px) {
			> a[id]:not([id=''])::after, > a li[id]:not([id=''])::after {
				content: ' (id#' attr(id) ')';
				font-size: 61.111%;
				vertical-align: 10%;
			}
		}
	}

	&:not(.soon) th.name a {
		border-bottom: 1pt solid var(--link-color);

		&:not(tr.pair a)::after {
			content: ' »';
		}

		@media (min-width: 450px) {
			&[id]:not([id=''])::after, li[id]:not([id=''])::after {
				content: ' (id#' attr(id) ') »';
			}
		}

		&:visited {
			border-bottom: 1pt solid var(--visited-color);
		}

		&:active {
			border-bottom: 1pt solid var(--active-color);
		}

		&:hover {
			border-bottom-width: 1.5pt;
			margin-bottom: -.5pt;
		}
	}

	td.fee {
		color: red;

		&::before {
			white-space: pre-line;
		}
	}

	td.img {
		padding: 0 1rem;

		@media (max-width: 50rem) {
			padding: 0 2vw;
		}

		img {
			display: block;
			max-width: 200px;
			width: 100%;
			margin: 0 auto;
		}
	}

	td.inquiry > a {
		font-size: 83%;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

section.explanations {
	max-width: 10in;
	margin: 0 auto;
}

