@use "header";

:root {
	--background-color: #fff;
	--text-color: #000;

	--link-color: #066;
	--visited-color: #39f;
	--active-color: #f60;

	--heading-font: bold 14pt serif;
	--body-font: 12pt sans-serif;
}

body {
	color: var(--text-color);
	background: var(--background-color);
	font: var(--body-font);
	font-size: 12pt;
	text-align: justify;
}

a {
	text-decoration: none;

	&:link {
		color: var(--link-color);
	}

	&:visited {
		color: var(--visited-color);
	}

	&:active {
		color: var(--active-color);
	}

	&:hover {
		text-decoration: underline;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

section, footer {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.big {
	font: var(--heading-font);
	font-size: 28pt;
}

.printonly {
	@media not print {
		display: none !important;
	}
}
.noprint {
	@media print {
		display: none !important;
	}
}

.hidden {
	display: none;
}
