/*
 * Copyright 2022 Google LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@use 'header';
@use 'footer';
@use 'center-justify';

// https://fonts.google.com/share?selection.family=Asap:ital,wght@0,600;1,500%7COpen%20Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,600;1,500&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--background-color: #fff;
	--background-color-2: #fcfcfc;
	--background-color-3: #f0f0f0;

	--border-color: #666;
	--border-radius: 3px;
	--text-color: #000;
	--accent-color: #5021da;
	--shadow-color: #0003;

	@media print {
		--background-color: #fff;
		--background-color-2: #fff;
		--background-color-3: #fff;
		--border-color: #000;
		--shadow-color: transparent;
	}

	--link-color: #066;
	--visited-color: #39f;
	--active-color: #f60;

	--heading-font: 600 14pt 'Asap', sans-serif;
	--body-font: 12pt 'Open Sans', sans-serif;
	font: var(--body-font);

	--global-min-width: 330px;
	min-width: var(--global-min-width);
}

body {
	color: var(--text-color);
	background: var(--background-color);
	font: var(--body-font);
	font-size: 12pt;
	text-align: justify;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	> * {
		flex-grow: 0;
		&:not(header):not(footer):not(h2) {
			flex-grow: 1;
		}
	}
}

a {
	text-decoration: none;

	&:link {
		color: var(--link-color);
	}

	&:visited {
		color: var(--visited-color);
	}

	&:active {
		color: var(--active-color);
	}

	&:hover {
		text-decoration: underline;
	}

	@media print {
		color: var(--text-color) !important;
		&:not([href^='tel:']):not([href^='mailto:']) {
			text-decoration: underline;
		}
	}
}

p {
	max-width: 95vw;
	margin: 0 auto 1em;
}

.big {
	font: var(--heading-font);
	font-size: 28pt;
}

.printonly {
	@media not print {
		display: none !important;
	}
}

.noprint {
	@media print {
		display: none !important;
	}
}

.hidden {
	display: none;
}

.warning {
	--box-background: linear-gradient(0deg, #a00 0%, #b00 50%, #a00 100%);
	--box-color: #fff;
	--box-border: transparent;
	--box-symbol: '\e002';
	--box-symbol-color: #fff;
	--box-symbol-scale: 0.9;
}

.info {
	--box-background: linear-gradient(0deg, #ccf 0%, #ddf 50%, #ccf 100%);
	--box-color: #00b;
	--box-border: #000;
	--box-symbol: '\e88e';
	--box-symbol-color: #44b;
	--box-symbol-scale: 1;
}

.warning, .info {
	$size: 50px;
	$padding: 0.4rem;
	margin: $padding;
	padding: $padding;
	min-height: calc(#{$size} + 2 * #{$padding});
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border: 1px solid var(--box-border);
	color: var(--box-color);
	background: var(--box-background);
	display: grid;
	grid-template-columns: $size 1fr;
	column-gap: $padding;
	box-shadow: -2px 2px 3px var(--shadow-color);

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		&:active {
			color: var(--active-color);
		}
	}

	> * {
		grid-column: 2;
	}

	& > *:first-child {
		display: contents;
		> * {
			grid-column: 2;
		}

		&::before {
			content: var(--box-symbol);
			font-family: 'Material Icons', sans-serif;
			font-size: calc(#{$size} * var(--box-symbol-scale));
			font-weight: 400;
			color: var(--box-symbol-color);
			box-sizing: border-box;
			line-height: 0.9 * $size;
			height: 0;
			width: $size;
			grid-column: 1;
			grid-row: 1;
			text-align: center;
		}
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.darken {
	mix-blend-mode: multiply;
}

div.video {
	position: relative;
	padding-top: 56.25%; // https://stackoverflow.com/questions/11122249
	max-width: 100%;
	width: 853px;
	> iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
