/*
 * Copyright 2022 Google LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

header > nav {
	$height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	a.logo > img {
		height: $height;
	}
	div.main {
		display: grid;
		height: $height;
		justify-items: center;
		align-items: center;
		white-space: nowrap;
		h1 {
			font: var(--heading-font);
			font-size: 18pt;
			grid-row: 1;
			margin: 0;
			a {
				color: black !important;
			}
		}
		div.contact {
			grid-row: 2;
			display: inline-block;
			> * {
				display: inline;
				font: inherit !important;
				color: black !important;
			}
			span::after {
				content: ' · ';
			}
		}
		ul.social {
			grid-row: 3;
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: inline-flex;
			justify-content: space-evenly;
			justify-self: stretch;
			font-size: 14pt;
			text-transform: uppercase;
			font: var(--heading-font);
		}
	}
	form.adopt {
		font: var(--heading-font);
		font-size: 14pt;
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
		h2 {
			margin: 0;
			font: inherit !important;
		}
		button {
			font: inherit !important;
			padding: 0.4rem;
			margin-top: 0.4rem;
		}
	}
	section.donate {
		display: contents;
	}
	// TODO: Mobile style for header.
}
