header > nav {
	$height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	a.logo > img {
		height: $height;
	}
	div.main {
		display: grid;
		height: $height;
		justify-items: center;
		align-items: center;
		white-space: nowrap;
		h1 {
			font: var(--heading-font);
			font-size: 18pt;
			grid-row: 1;
			margin: 0;
			a {
				color: black !important;
			}
		}
		div.contact {
			grid-row: 2;
			display: inline-block;
			> * {
				display: inline;
				font: inherit !important;
				color: black !important;
			}
			span::after {
				content: ' · ';
			}
		}
		ul.social {
			grid-row: 3;
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: inline-flex;
			justify-content: space-evenly;
			justify-self: stretch;
			font-size: 14pt;
			text-transform: uppercase;
			font: var(--heading-font);
		}
	}
	form.adopt {
		font: var(--heading-font);
		font-size: 14pt;
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
		h2 {
			margin: 0;
			font: inherit !important;
		}
		button {
			font: inherit !important;
			padding: 0.4rem;
			margin-top: 0.4rem;
		}
	}
	section.donate {
		display: contents;
	}
	// TODO: Mobile style for header.
}
