/*
 * Copyright 2022 Google LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

header > nav {
	// TODO: Change the intrinsic heights of logo assets to 100px basis.
	$height: 100px;
	$padding: 0.4rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: $padding;
	width: 100%;
	$row-gap: 1.5rem;
	box-sizing: border-box;
	@media screen and (max-width: 539px) {
		a.logo {
			display: none !important;
		}
	}
	@media screen and (max-width: 699px) {
		flex-direction: column;
		div.main {
			margin-bottom: $row-gap;
		}
	}
	@media screen and (max-width: 860px) {
		section.donate {
			display: none !important;
		}
	}
	@media screen and (max-width: 1000px) {
		.nfg {
			display: none !important;
		}
	}
	@media screen and (min-width: 700px) {
		border-bottom: 1px solid var(--border-color);
		box-shadow: 0 1px 3px var(--shadow-color);
		background-color: var(--background-color-3);
	}
	h1, h2 {
		font: var(--heading-font);
		a:not(:active) {
			color: black !important;
			&:hover {
				color: var(--accent-color) !important;
				text-decoration: none !important;
			}
		}
	}
	div.main {
		display: grid;
		height: $height;
		justify-items: center;
		align-items: center;
		white-space: nowrap;
		grid-template-columns: [logo] max-content [info] max-content [end];
		a.logo {
			grid-column: logo;
			grid-row: 1 / span 3;
			img {
				height: $height;
			}
		}
		h1 {
			font-size: 18pt;
			grid-row: 1;
			margin: 0;
		}
		div.contact {
			grid-row: 2;
			display: inline-block;
			> * {
				display: inline;
				font: inherit !important;
				color: black !important;
			}
			span::after {
				content: ' · ';
			}
			@media screen and (max-width: 449px) {
				span:not(:first-of-type)::after {
					display: none;
				}
				a.tel {
					display: block;
					text-align: center;
				}
			}
		}
		ul.social {
			grid-row: 3;
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: inline-flex;
			justify-content: space-evenly;
			justify-self: stretch;
			font-size: 14pt;
			text-transform: uppercase;
			font: var(--heading-font);
			a:not(:active) {
				color: var(--accent-color) !important;
			}
		}
	}
	form.adopt {
		font: var(--heading-font);
		font-size: 14pt;
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
		h2 {
			margin: 0;
			font-size: 120%;
		}
		button {
			font: inherit !important;
			padding: 0.4rem;
			margin-top: 0.4rem;
			color: var(--accent-color);
			background-color: var(--background-color-2);
			border-radius: 3px;
			border: 1px solid var(--accent-color);
			box-shadow: -1px 1px 3px var(--shadow-color), 1px 1px 3px var(--shadow-color);
			&:active {
				box-shadow: -1px 1px 3px var(--shadow-color) inset, 1px 1px 3px var(--shadow-color) inset;
			}
		}
	}
	section.donate {
		display: contents;
	}
	@media print {
		justify-content: center;
		form.adopt, section.donate, ul.social {
			display: none !important;
		}
		a {
			text-decoration: none !important;
		}
	}
}
