/*
 * Copyright 2022 Google LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


a.return {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	margin-bottom: 0.25in;
	@media print {
		display: none;
	}
	@media screen and (min-width: 700px) {
		text-align: right;
	}
}

h2 {
	font: var(--heading-font);
	font-size: 24pt;
	text-align: center;
	color: var(--accent-color);
}

h2, .subtitle {
	max-width: 95vw;
	margin: 0 auto;
}

.listing {
	li > strong:first-of-type {
		font-weight: bold;
		color: var(--accent-color);
		display: inline;
	}

	.big {
		font-size: 20pt;
	}

	p.big > strong {
		text-transform: uppercase;
	}

	.apply button {
		font-size: 18pt;
		padding: 5pt;
	}

	img {
		max-height: 480px;
		max-width: 100%;
		height: auto;
	}

	iframe {
		width: 100%;
		height: auto;
	}

	form.paypal {
		display: inline-block;
	}

	a.im > img {
		vertical-align: bottom;
	}

	aside.images {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 1.5em;
		line-height: 0;

		img {
			padding: 0.5rem;
			box-sizing: border-box;
		}
	}

	section#description {
		max-width: 14in;
		margin: 1em auto;
	}

	p.subtitle {
		text-align: center;
		font-size: 18pt;
		margin: 0.2em auto;

		> span {
			display: inline-block;
		}
	}

	div.video {
		width: 100%;

		iframe {
			margin: 0 auto 1em;
			display: block;
			width: 1280px;
			height: 720px;
			max-width: 100%;
			max-height: 56.25vw;
			aspect-ratio: 16 / 9;
		}
	}
}

form#bottom_form {
	max-width: 95vw;
	margin: 1rem auto;
	font-size: 14pt;
	font-style: italic;

	button {
		font: inherit;
	}
}
