BODY	{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	color:black;
	scrollbar-face-color: #F3F4F5;
	scrollbar-shadow-color: #ADB6BC;
	scrollbar-highlight-color: #ADB6BC;
	scrollbar-3dlight-color: #F3F4F5;
	scrollbar-darkshadow-color: #F3F4F5;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ADB6BC
	background-color: #ffffff; 
	background: url(_graphics/page_background.gif)
	left: 17px;
	top: 17px;
	background-image:url(_graphics/page_background.gif)
	}

A:link {
	color: #006666;
	text-decoration: none;
       } 
A:visited {
	color: #3399FF;
	text-decoration: none;
          }
A:active {
	color: #339966;
     	text-decoration: none;
         }
A:hover{
	color: #990000;
	font-size: 101%;
	text-decoration: underline;
        }
			 
.adopt {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 26pt;
	letter-spacing: 6px;
	
}
.Adopted_Name {
	font-family: "Trebuchet MS", Tahoma;
	font-size: 16pt;
	text-transform: capitalize;
	color: #006699;
}
.Name {

	font-family: "Trebuchet MS", Tahoma;
	font-size: 16pt;
	text-transform: capitalize;
	color: #006699;
}
