/*
 * Copyright 2022 Google LLC
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@charset "UTF-8";
section.adopt {
  display: none;
}

body {
  min-width: 480px;
}

.hidden {
  display: none;
}

body > article {
  text-align: center;
}

#minimal_header {
  display: block;
}
#minimal_header a {
  color: var(--text-color);
  text-decoration: none;
}
#minimal_header h1 {
  display: block;
  font-size: x-large;
  font-variant: small-caps;
  margin: 0;
}
#minimal_header address {
  display: contents;
  font-style: normal;
}
#minimal_header address > p {
  display: inline-block;
  margin: 0;
}
#minimal_header address > p:nth-of-type(2) {
  margin: 0 2em;
}
#minimal_header span.tel {
  display: inline-block;
  margin: 0;
}

#application {
  display: inline-block;
  max-width: 10in;
  /* Styles for email */
}
@media screen and (min-width: calc(700px + 1px)) {
  #application:not(article) {
    background-color: whitesmoke;
    box-shadow: -2px 2px 3px #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1em;
  }
}
@media print {
  #application {
    display: contents;
  }
  #application h1, #application h2, #application h3, #application h4 {
    break-after: avoid;
  }
  #application button {
    display: none;
  }
}
#application input:not([type=file]), #application select, #application textarea, #application button,
#application span[data-type=input]:not([data-input-type=file]), #application span[data-type=select],
#application span[data-type=textarea], #application span[data-type=button] {
  width: 20em;
  max-width: 100%;
}
#application input:not([type=file]):not(span), #application select:not(span), #application textarea:not(span), #application button:not(span),
#application span[data-type=input]:not([data-input-type=file]):not(span), #application span[data-type=select]:not(span),
#application span[data-type=textarea]:not(span), #application span[data-type=button]:not(span) {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 7px;
  margin: 5px;
  font: inherit;
  box-shadow: -1px 1px 2px #ccc inset;
}
#application .explanatory {
  display: block;
  font-size: 70%;
  font-style: italic;
}
#application h2 {
  margin-top: 1em;
}
#application h3 {
  font-size: 18pt;
  font-variant: small-caps;
  margin-bottom: 0;
}
#application #basic_information {
  display: inline-block;
  max-width: 8.5in;
}
#application div.info_grid {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-auto-flow: column;
  column-gap: 3px;
  row-gap: 5px;
  margin: 8px;
}
@media screen and (max-width: 700px) {
  #application div.info_grid {
    display: block;
    margin: 0;
  }
}
#application div.info_grid > div.spacer {
  grid-column-start: 1;
  grid-row-start: 1;
}
#application div.info_grid > section {
  display: contents;
  counter-reset: info-row;
}
@media screen and (max-width: 700px) {
  #application div.info_grid > section {
    display: grid;
    grid-template-columns: min-content 20em;
    grid-auto-flow: column;
    column-gap: 3px;
    row-gap: 5px;
    justify-content: center;
  }
}
#application div.info_grid > section h4 {
  margin: 0;
  font-weight: inherit;
}
@media screen and (max-width: 700px) {
  #application div.info_grid > section h4 {
    grid-column: 1/span 2 !important;
    font-weight: bold;
  }
}
#application div.info_grid > section > label, #application div.info_grid > section > div.label, #application div.info_grid > section > span[type=label] {
  align-self: start;
  line-height: calc(1.2em + 1px + 1px
				+ 5px + 5px + 7px + 7px);
  vertical-align: middle;
  justify-self: end;
  white-space: nowrap;
  grid-column: 1;
  cursor: inherit;
}
#application div.info_grid > section > label:not(article#application *).required::after, #application div.info_grid > section > div.label:not(article#application *).required::after, #application div.info_grid > section > span[type=label]:not(article#application *).required::after {
  content: "*";
  color: red;
  margin-left: 1px;
  font-size: 90%;
}
#application div.info_grid > section > label > *, #application div.info_grid > section > div.label > *, #application div.info_grid > section > span[type=label] > * {
  line-height: 1.2em;
  text-align: right;
  margin-top: -1em;
}
#application div.info_grid > section > label + *, #application div.info_grid > section > div.label + *, #application div.info_grid > section > span[type=label] + * {
  justify-self: stretch;
  width: auto;
  grid-column: 2;
}
#application div.info_grid > section > label.span-2, #application div.info_grid > section > div.label.span-2, #application div.info_grid > section > span[type=label].span-2 {
  grid-row-end: span 2;
}
#application div.info_grid > section.applicant > h4 {
  grid-column: 2;
  grid-row: 1;
}
#application div.info_grid > section.coapplicant > h4 {
  grid-column: 3;
  grid-row: 1;
}
@media screen and (max-width: 700px) {
  #application div.info_grid > section.coapplicant {
    margin-top: 1em;
  }
}
#application div.info_grid > section.coapplicant > h4 + label + *, #application div.info_grid > section.coapplicant > h4 + div.label + *, #application div.info_grid > section.coapplicant > h4 + span[type=label] + * {
  grid-row: 2;
}
#application div.info_grid > section.coapplicant > label, #application div.info_grid > section.coapplicant > div.label, #application div.info_grid > section.coapplicant > span[type=label] {
  display: none;
}
@media screen and (max-width: 700px) {
  #application div.info_grid > section.coapplicant > label, #application div.info_grid > section.coapplicant > div.label, #application div.info_grid > section.coapplicant > span[type=label] {
    display: inline-block;
  }
}
#application div.info_grid > section.coapplicant > label + *, #application div.info_grid > section.coapplicant > div.label + *, #application div.info_grid > section.coapplicant > span[type=label] + * {
  grid-column: 3;
}
@media screen and (max-width: 700px) {
  #application div.info_grid > section.coapplicant > label + *, #application div.info_grid > section.coapplicant > div.label + *, #application div.info_grid > section.coapplicant > span[type=label] + * {
    grid-column: 2;
  }
}
#application .city-st-zip {
  margin-top: -5px;
  white-space: nowrap;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
#application .city-st-zip label {
  display: none;
}
#application .city-st-zip input, #application .city-st-zip select {
  width: 0;
}
#application .city-st-zip input:first-of-type {
  flex-grow: 2;
}
#application .city-st-zip select {
  width: 4em;
  font-size: 85%;
}
#application .city-st-zip input:nth-of-type(2) {
  flex-grow: 1;
}
#application span[data-type=input][data-input-type=radio],
#application span[data-type=label][data-input-type=radio][data-selected="0"] {
  display: none;
}
#application span[data-type=label][data-input-type=checkbox] {
  display: none;
}
#application span[data-type=label][data-input-type=checkbox][data-selected="0"]::before {
  content: "☐ ";
}
#application span[data-type=label][data-input-type=checkbox][data-selected="1"]::before {
  content: "☑ ";
}
#application section.thanks {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1pt solid #ccc;
}

/*# sourceMappingURL=application.css.map */
