@use '../forms';

$cutoff-width: 700px;
$row-gap: 5px;
$column-gap: 3px;
$total-input-height: calc(#{forms.$line-height} + #{forms.$input-border} + #{forms.$input-border}
+ #{forms.$input-margin} + #{forms.$input-margin} + #{forms.$input-padding} + #{forms.$input-padding});

// Hide the link to the application in the header - we are already here!
section.adopt {
	display: none;
}

html {
	min-width: 480px;
}

body > article {
	text-align: center;
}

#minimal_header {
	display: block;

	a {
		color: var(--text-color);
		text-decoration: none;
	}

	h1 {
		display: block;
		font-size: x-large;
		font-variant: small-caps;
		margin: 0;
	}

	address {
		display: contents;
		font-style: normal;

		> p {
			display: inline-block;
			margin: 0;

			&:nth-of-type(2) {
				margin: 0 2em;
			}
		}
	}

	span.tel {
		display: inline-block;
		margin: 0;
	}
}

#application {
	@include forms.fullwidth-form($cutoff-width);

	.explanatory {
		display: block;
		font-size: 70%;
		font-style: italic;
	}

	h2 {
		margin-top: 1em;
		margin-bottom: 1rem;
	}

	h3 {
		font-size: 18pt;
		font-variant: small-caps;
		margin-bottom: 1rem;
	}

	h4 {
		margin: 1rem;
	}

	// Basic information

	#basic_information {
		display: inline-block;
		max-width: 8.5in;
	}

	div.info_grid {
		display: grid;
		grid-template-columns: min-content 1fr 1fr;
		grid-auto-flow: column;
		column-gap: $column-gap;
		row-gap: $row-gap;
		margin: 8px;
		@media screen and (max-width: $cutoff-width) {
			display: block;
			margin: 0;
		}

		// Spacer occupying the top-left cell of the "table"
		> div.spacer {
			grid-column-start: 1;
			grid-row-start: 1;
		}

		> section {
			display: contents;
			@media screen and (max-width: $cutoff-width) {
				display: grid;
				grid-template-columns: min-content 20em;
				column-gap: $column-gap;
				row-gap: $row-gap;
				justify-content: center;
			}
			counter-reset: info-row;

			h4 {
				margin: 0;
				font-weight: inherit;
				@media screen and (max-width: $cutoff-width) {
					grid-column: 1/span 2 !important;
					font-weight: bold;
				}
			}

			> label, > div.label, > span[type='label'] {
				align-self: start;
				line-height: $total-input-height;
				vertical-align: middle;
				justify-self: end;
				white-space: nowrap;
				grid-column: 1;
				cursor: auto;

				&:not(article#application *).required::after {
					content: '*';
					color: red;
					margin-left: 1px;
					font-size: 90%;
				}

				> * {
					line-height: forms.$line-height;
					text-align: right;
					margin-top: -1em;
				}

				& + * {
					justify-self: stretch;
					width: auto;
					grid-column: 2;
				}

				&.span-2 {
					grid-row-end: span 2;
				}
			}

			&.applicant {
				> h4 {
					grid-column: 2;
					grid-row: 1;
				}
			}

			&.coapplicant {
				> h4 {
					grid-column: 3;
					grid-row: 1;
				}

				@media screen and (max-width: $cutoff-width) {
					margin-top: 1em;
				}

				> h4 + label + *, > h4 + div.label + *, > h4 + span[type='label'] + * {
					// Reset to row 2 when inserting the first coapplicant input
					grid-row: 2;
				}

				> label, > div.label, > span[type='label'] {
					display: none;
					@media screen and (max-width: $cutoff-width) {
						display: inline-block;
					}

					& + * {
						grid-column: 3;
						@media screen and (max-width: $cutoff-width) {
							grid-column: 2;
						}
					}
				}
			}
		}
	}

	.city-st-zip {
		margin-top: -$row-gap;
		white-space: nowrap;
		width: 100%;
		display: inline-flex;
		justify-content: space-between;

		label {
			display: none;
		}

		input, select {
			width: 0;
		}

		input:first-of-type {
			flex-grow: 2;
		}

		// State
		select {
			width: 4em;
			font-size: 85%;
		}

		// ZIP
		input:nth-of-type(2) {
			flex-grow: 1;
		}
	}

	// Household information

	button.add, button.remove {
		> span {
			color: #0000;
			// @todo uncomment once gradients can transition.
			//background: radial-gradient(circle, var(--inner-color) 20%, var(--outer-color) 100%);
			background-color: var(--inner-color);
			-webkit-background-clip: text;
			//noinspection CssInvalidPropertyValue
			background-clip: text;
			transition: forms.$transition-time;
		}
	}

	button.remove {
		--inner-color: #a44;
		--outer-color: #822;
		font-weight: bold;
		background: none;
		border: none;
		box-shadow: none;
		text-shadow: 0 0 1px #c000;

		&:hover:not(:active) {
			--inner-color: #0006;
			--outer-color: #0004;
			text-shadow: 1px -1px 1px #c00; // Actually appears on top of the X, because the X is the background.
		}

		&:active {
			--inner-color: #f00;
			--outer-color: #b00;
		}
	}

	button.add {
		justify-self: center;
		--inner-color: #4a4;
		--outer-color: #282;
		white-space: nowrap;
		margin-bottom: 1rem;

		&:hover {
			--inner-color: #393;
			--outer-color: #171;
		}

		&:active {
			--inner-color: #2f8f2f;
			--outer-color: #036903;
		}
	}

	// Other people in the household

	section#other_people {
		display: inline-block;
		max-width: 6in;

		h5 {
			margin: 0;
			font: inherit;
		}
	}

	div.people_table {
		display: grid;
		$spacer-width: 3em;
		grid-template-columns: minmax(0, #{$spacer-width}) 1fr 10em 3em;
		margin-left: -$spacer-width;
		@media print {
			// Don't need the button column for printing.
			grid-template-columns: 0 1fr 10em;
		}

		> ul {
			display: contents;

			> li {
				display: contents;

				label {
					display: contents;

					> span {
						display: none;
					}
				}
			}
		}

		*:not(button.add) {
			justify-self: stretch;
			width: auto;
		}

		.name {
			grid-column: 2;
		}

		.dob {
			grid-column: 3;
		}

		.add {
			grid-column: 2 / span 4;
		}

		.remove {
			grid-column: 4;
		}
	}

	article[type='form'] div.people_table {
		// Don't need the button column in the emailed version.
		grid-template-columns: 1fr 6em;
	}

	// Animals currently & no longer residing with you

	div.animals {
		display: grid;
		row-gap: $row-gap;
		column-gap: $column-gap;
		$spacer-width: minmax(0,0.75em);
		--fixed-width: max-content;
		@media (max-width: 1000px) {
			--fixed-width: min-content;
		}
		$left-columns: [left] #{$spacer-width} [name] 1fr [species] min-content [breed] 1fr [age] 3em [gender] min-content [spayed] var(--fixed-width);
		grid-template-columns: #{$left-columns} [remove content-right] 3em [right];
		@media (max-width: 600px) {
			grid-template-columns: [left name age remove] 1fr [species gender] min-content [breed spayed] 1fr [right content-right name];
			grid-auto-flow: column;
			h5 {
				display: none;
			}

			label>span, h6.legend {
				display: block !important;
				margin: calc(0.75em - #{$row-gap}) 0 0 0;
				padding: 0;
				font: inherit;
			}

			input.age {
				max-width: 4em;
				justify-self: center !important;
			}

			fieldset > legend {
				display: block;
			}

			button.remove {
				margin-bottom: calc(2em - #{$row-gap});
				border-radius: 0;
				border-bottom: 1px solid forms.$border-color;
				justify-self: center !important;
				padding: forms.$input-padding 1em 1em 1em;
				font-size: 90%;

				&:hover:not(:active) {
					--inner-color: #c00;
					--outer-color: #c00;
					text-shadow: none;
				}

				span::after {
					content: ' Remove ' attr(data-name);
					font-weight: normal;
				}
			}
		}
		margin-left: -$spacer-width;

		@media print {
			// Don't need the button column for printing.
			grid-template-columns: #{$left-columns} [right content-right];
		}

		> section {
			display: contents;
		}

		ul {
			display: contents;

			> li {
				display: contents;

				label {
					display: contents;

					> span {
						display: none;
					}
				}
			}
		}

		h4 {
			grid-column: left / right;
		}

		h5 {
			margin: 0;
			font: inherit;
			align-self: end;

			&.name {
				white-space: nowrap;
			}
		}

		*:not(button.add) {
			justify-self: stretch;
			width: auto;
		}

		.name {
			grid-column: name;
		}

		.species {
			grid-column: species;
		}

		.breed {
			grid-column: breed;
		}

		.age {
			grid-column: age;
		}

		.gender {
			grid-column: gender;
		}

		.spayed {
			grid-column: spayed;
		}

		.remove {
			grid-column: remove / right;
		}

		.add {
			grid-column: left / right;
		}

		.reason {
			grid-column: age / content-right;
		}

		div.fieldset {
			display: contents;
			h6.legend {
				display: none;
			}
		}

		fieldset {
			border: none;
			display: flex;
			justify-content: space-evenly;
			padding: 0;
			legend {
				display: none;
			}
			> label {
				display: flex !important;
				flex-direction: column;
				justify-content: center;
				height: $total-input-height;
				> span {
					display: block !important;
					white-space: nowrap;
					order: 2;
					margin: 0.2em;
				}
				> input {
					order: 1;
				}
			}
		}
	}

	// Adoption information

	// About your home

	// References

	section#attachments {
		> div {
			margin: 1em;

			p {
				max-width: 8in;
				margin: 1em auto;
			}
		}
	}

	section#submit button {
		font-size: 120%;
		padding: 0.5em;
	}

	// Styles for email
	section.thanks {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1pt solid forms.$border-color;
	}
}
