#minimal_header {
	display: inline-block;
	text-align: center;
	margin-top: 0.5rem;

	a {
		color: var(--text-color);
		text-decoration: none;
	}

	h1 {
		display: block;
		font: var(--heading-font);
		font-size: x-large;
	}

	div {
		display: inline-flex;
		flex-wrap: wrap;
		column-gap: 2em;
		justify-content: center;
	}

	address {
		display: contents;
		font-style: normal;
	}

	* {
		margin: 0;
	}
}
