#minimal_header {
	display: block;

	a {
		color: var(--text-color);
		text-decoration: none;
	}

	h1 {
		display: block;
		font-size: x-large;
		font-variant: small-caps;
		margin: 0;
	}

	div {
		display: inline-flex;
		flex-wrap: wrap;
		column-gap: 2em;
		justify-content: center;
	}

	address {
		display: contents;
		font-style: normal;

		> p {
			margin: 0;
		}
	}
}
