# prevent caching
#FileETag None
#<ifModule mod_headers.c>
# Header unset ETag
# Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
# Header set Pragma "no-cache"
# Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
#</ifModule>

# enforce https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# route API requests
RewriteCond %{REQUEST_FILENAME} !.php
RewriteRule ^api/([^/]+)/?$ /api/$1.php [L,QSA]
RewriteRule ^api/([^/]+)/(.+)/$ /api/$1.php?v=$2 [L,QSA]
RewriteRule ^api/([^/]+)/(.+)$ /api/$1.php?v=$2 [L,QSA]
# @todo figure out how to 404 on nonexistent endpoints

# route with vue
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /index.html [L]

# @todo OAuth authentication for admin site
# Temporary password protection for development
AuthName "Development Site"
AuthType Basic
AuthUserFile /home/kimgil5/newsite/secrets/.htpasswd
Require valid-user