# prevent caching
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache"
    FileETag MTime Size
</IfModule>

# enforce https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# route API requests
RewriteCond %{REQUEST_FILENAME} !.php
RewriteRule ^api/([^/]+)/?$ /api/$1.php [L,QSA]
RewriteRule ^api/([^/]+)/(.+)/$ /api/$1.php?v=$2 [L,QSA]
RewriteRule ^api/([^/]+)/(.+)$ /api/$1.php?v=$2 [L,QSA]
# TODO [#27]: figure out how to 404 on nonexistent endpoints

# route with vue
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /index.html [L]

# Authentication for test site is taken from .htaccess-test at deployment.
