

/*Footer*/
footer {
	text-align: justify;
	text-align-last: center;
}
address { font-style: normal; }
.hours {
	font-size: 16pt;
	text-transform: uppercase;
	color: #f00;
}
.big, footer>address { font-size: 28pt; }
